@import "https://unpkg.com/open-props";

body {
    margin: 0;
    background-color: var(--gray-9);
    color: var(--gray-2);
    font-size: 16pt;
    font-family: var(--font-sans)
}

.intro {
    font-weight: var(--font-weight-8);  
    background: var(--gray-10);
    padding-block: var(--size-9);
    top: 0;
    box-shadow: var(--shadow-3  );
}

.container {
    margin-left: 3rem
}

.morning {
    background: var(--gradient-4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42pt;
    transition: ease-in-out .25s;
}

.morning:hover {
    background: var(--gradient-12);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42pt;
}

.main {
    width: min(100% - 2rem, 50rem);
    margin-inline: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 3rem;
    width: 100%;
    text-align: center;
}

.back {
    transition: ease .25s;
    color: var(--gray-6);
}

.back:hover {
    color: var(--gray-2)
}